.primary-button {
    color: var(--color-inverted);
    background-color: var(--color-brand);
    border: 0;
}

.primary-button:hover {
    color: var(--color-brand);
    background-color: var(--color-inverted);
}
